language: java

script:
  - gradle check
  - ./gradlew check
  - ./gradlew jacocoTestReport

deploy: 
  provider: heroku
  api_key: $HEROKU_API_KEY
  app: vinkkisofta
  on:
    branch: master

after_success:
  - bash <(curl -s https://codecov.io/bash)