.container {
    max-width: 650px;
    margin: 0 auto;
    font-family: arial;
}

.bookmark {
    border: 1px solid #eee;
    margin: 10px 0;
}

.bookmarkLink {
    display: block;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}

.bookmark:hover {
    background-color: #eee;
}

.bookmarkTitle {
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    color: #555555;
}

.bookmarkTags {
    display: inline-block;
    color: #555555;
}

.bookmarkTag {
    border: 1px solid;
    padding: 2px;
    border-radius: 5px;
    font-size: 12px;
    background-color: aliceblue;
}

.bookmarkAuthor {
    display: block;
    font-size: 13px;
    color: #bbb;
}

.newBookmarkLink {
    display: block;
    margin: 10px 0;
    height: 100%;
    padding: 10px;
    color: inherit;
    border: 1px solid #eee;
    text-decoration: none;
    text-align: center;
}