.container {
    max-width: 650px;
    margin: 0 auto;
    font-family: arial;
}

.bookmark {
    list-style-type: none;
    background-color: #eee;
    margin: 10px 0;
    border-radius: 5px;
}

.bookmarkLink {
    display: block;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}

.bookmark:hover {
    background-color: #ddd;
    box-shadow: 0px 0px 1px 1px #ccc;
}

.bookmarkTitle {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #555555;
}

.bookmarkTags {
    display: inline-block;
}

.bookmarkTag {
    border: 1px solid;
    padding: 2px;
    border-radius: 5px;
    font-size: 12px;
    background-color: aliceblue;
}

.bookmarkAuthor {
    display: block;
    font-size: 13px;
}