<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Vinkkisofta</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" th:href="@{main.css}" type="text/css"/>
    </head>

    <body>
        <div class="container">
            <h1>Vinkkilista</h1>
            <div class="bookmarkList">
                <div class="bookmark" th:each="bookmark : ${bookmarks}">
                    <a class="bookmarkLink" th:href="${bookmark.url}">
                        <span class="bookmarkTitle" th:text="${bookmark.title}"></span>
                        <div class="bookmarkTags">
                            <span class="bookmarkTag">video</span>
                            <span class="bookmarkTag">blog</span>
                            <span class="bookmarkTag">education</span>
                        </div>
                        <span class="bookmarkAuthor" th:if="${bookmark.author != null}"
                              th:text="${'by ' + bookmark.author}">
                        </span>
                    </a>
                </div>
            </div>
            <a href="/new">Add new bookmark</a>
        </div>
    </body>
</html>