<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Vinkkisofta</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" th:href="@{main.css}" type="text/css"/>
    </head>

    <body>
        <div class="container">
            <h1>Vinkkilista</h1>
            
            <div>
            	<a class="logoutButton" id="userLogInLink" th:href="${userLogInLink}" th:text="${userLogInText}"></a>
            	<br></br>
            </div>
            <div>
                <span th:text="${userStatusText}"></span>
            </div>

            <div class="bookmarkList">
                <div class="bookmark" th:each="bookmark : ${bookmarks}">
                    <a class="bookmarkLink" th:href="${bookmark.url}">
                        <span class="bookmarkTitle" th:text="${bookmark.title}"></span>
                        <div class="bookmarkTags">
                            <span class="bookmarkTag" th:each="tag : ${bookmark.tags}" th:text="${tag.name}"></span>
                        </div>
                        <span class="bookmarkAuthor" th:if="${bookmark.author != null}"
                              th:text="${'by ' + bookmark.author}">
                        </span>
                        <div class="bookmarkCreator" th:if="${bookmark.creator != null}" th:text="${bookmark.creator.username}"/>
                        <div class="bookmarkCreator" th:unless="${bookmark.creator != null}">no creator</div>
                    </a>
                    <div class="bookmarkReadStatus" th:if="${user.getBookmarkReadStatus(bookmark.id) == null}">
                        <a class="bookmarkReadText" th:href="${bookmark.url}">not read </a>
                        <form class="markBookmarkForm" method="post" action="/bookmarks/">
                            <input type="hidden" name="bookmarkId" th:value="${bookmark.id}"/>
                            <button class="markBookmarkButton" type="submit"><font color="green">&#9679</font></button>
                        </form>
                    </div>
                    <div class="bookmarkReadStatus" th:unless="${user.getBookmarkReadStatus(bookmark.id) == null}">
                        <a class="bookmarkReadText" th:href="${bookmark.url}">
                            read on <td th:text="${#temporals.format(user.getBookmarkReadStatus(bookmark.id), 'dd.MM.yyyy', locale)}"/>
                        </a>
                        <form class="markBookmarkForm" method="post" action="/bookmarks/">
                            <input type="hidden" name="bookmarkId" th:value="${bookmark.id}"/>
                            <button class="markBookmarkButton" type="submit"><font color="gray">&#9675</font></button>
                        </form>
                    </div>
                </div>
            </div>
            <a class="button" id="newBookmarkLink" href="/bookmarks/new">Add new bookmark</a>
            <a class="button" id="searchBookmarkLink" href="/bookmarks/search">Search bookmarks</a>
        </div>
    </body>
</html>