<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Vinkkisofta - New Bookmark</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="/main.css" type="text/css"/>
        <link rel="stylesheet" href="/new.css" type="text/css"/>
    </head>
    <body>
        <div class="container">

            <form class="bookmarkForm" method="post" action="/new">
                <div class="formSection">
                    <label class="formSectionLabel">Title</label>
                    <input id="titleInput" class="formSectionInput" type="text" name="title" placeholder="Example"/>
                </div>

                <div class="formSection">
                    <label class="formSectionLabel">Url</label>
                    <input id="urlInput" class="formSectionInput" type="url" name="url" placeholder="http://example.com/"/>
                </div>

                <div class="formSection">
                    <label class="formSectionLabel">Author</label>
                    <input id="authorInput" class="formSectionInput" type="text" name="author" placeholder="Joe Bloggs"/>
                </div>

                <div class="formSection">
                    <label class="formSectionLabel">Tags</label>
                    <input id="tagsInput" class="formSectionInput" type="text" name="tags" placeholder="blog,video"/>
                </div>

                <div class="formSection">
                    <button id="submitForm" class="formSectionInput" type="submit">Add Bookmark</button>
                </div>

            </form>
        </div>
    </body>
</html>
