<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Vinkkisofta - Search Bookmark</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{main.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{new.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{search.css}" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <h1>Vinkkilista</h1>
            <h2>Search bookmarks by tags</h2>

            <form class="bookmarkForm" method="post" action="/bookmarks/search">
                <div class="formSection">
                    <label class="formSectionLabel">Tags</label>
                    <input id="tagsInput" class="formSectionInput" type="text" name="tags" placeholder="blog,video"/>
                </div>

                <div class="formSection">
                    <button id="submitForm" class="formSectionInput" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="container">
            <div class="bookmarkList">
                <div class="bookmark" th:each="bookmark : ${bookmarks}">
                    <a class="bookmarkLink" th:href="${bookmark.url}">
                        <span class="bookmarkTitle" th:text="${bookmark.title}"></span>
                        <div class="bookmarkTags">
                            <span class="bookmarkTag" th:each="tag : ${bookmark.tags}" th:text="${tag.name}"></span>
                        </div>
                        <span class="bookmarkAuthor" th:if="${bookmark.author != null}"
                              th:text="${'by ' + bookmark.author}">
                        </span>
                        <span class="bookmarkCreator" th:if="${bookmark.creator != null}"
                              th:text="${bookmark.creator.username}">
                        </span>
                    </a>
                </div>
            </div>
            <a class="backLink" id="backLink" href="/bookmarks/">Back</a>
        </div>
    </body>
</html>